<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @conceptual_entity.name %>
</p>


<%= link_to 'Edit', edit_conceptual_entity_path(@conceptual_entity) %> |
<%= link_to 'Back', conceptual_entities_path %>
